<h1 align="center" style="color: rgb(0, 0, 0)"><b>FRIENDS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px"src="https://img.freepik.com/premium-vector/woman-avatar-profile-round-icon_24640-14047.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color: blueviolet" class="card-title"><b>{{i.name}}</b></h5>
                          <br>
                          <h6><b>{{i.friendName}}</b></h6>
                          <h6><b>{{i.friendNickName}}</b></h6>
                          <h6><b>{{i.DescribeYourFriend}}</b></h6>
                          <a href="#" class="btn btn-dark" style="color:blueviolet"><b>VIEW MORE</b></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
